<div class="choose-us">
  <div appFadeOnScrollDirective class="title">
    <p id="choose-usId">Why Choose Us</p>
  </div>
  <div appFadeOnScrollDirective class="wrapper">
    <div class="choose-us__subtitle">TopEnergyBoilers is dedicated to promoting sustainable heating solutions. Our team
      is committed to providing exceptional service and support to help you achieve optimal results.
    </div>
    <div class="choose-us__content">
      <div class="choose-us__content__text">Join Us for a Greener Future!</div>
      <div class="choose-us__content__photo">
        <img ngSrc="assets/images/chooseUs.png" alt="" height="512" width="512">
      </div>
    </div>
  </div>
</div>
