<div class="choose-us">
  <div appFadeOnScrollDirective class="title">
    <p id="choose-usId">Why Choose Us</p>
  </div>
  <div appFadeOnScrollDirective class="wrapper">
    <div class="choose-us__subtitle">TopEnergyBoilers is dedicated to promoting sustainable heating solutions. Our team
      is committed to providing exceptional service and support to help you achieve optimal results.
    </div>
    <div class="choose-us__content">
      <div class="choose-us__content__text">
        <p>
          Join Us for a Greener Future!
        </p>
      </div>
      <div style="content: url('assets/images/chooseUs.png')" class="choose-us__content__photo">
      </div>
    </div>
  </div>
</div>
