.choose-us {
  margin-top: 48px;
  max-width: 100%;

  &__subtitle {
    margin-top: 57px;
    color: #ffffff;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
  }

  &__content {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(auto-fit, 500px 512px);
    &__text {
      color: #ffffff;
      font-size: 48px;
      font-weight: 600;
      line-height: 62px;
      padding-right: 179px;

    }
    &__photo {
      content: url("/assets/images/chooseUs.png");
      width: 416px;
      height: 315px;
      margin-top: 60px;
      margin-bottom: 60px;
      border-radius: 24px;
    }
    }


  }

.title {
  display: flex;
  align-items: center;
  padding-left: 196px;
  height: 75px;
  background-color: #e31f19;
  color: #ffffff;
  font-size: 48px;
  font-weight: 600;
  line-height: 62px;
}

.wrapper {
  max-width: 600px;
  margin: 0 auto;
}

@media screen and (min-width: 1090px){

}

@media screen and (max-width: 1090px) {
  .choose-us {
    &__subtitle {
    }

    &__content {
      display: flex;
      justify-content: center;
      text-align: center;
      flex-direction: column;
      margin-top: 100px;
      gap: 50px;
      grid-template-columns: 1fr;
      &__text {
        padding-right: 0;
        font-size: 38px;
        font-weight: 400;
        line-height: 42px;

      }

      &__photo {
        content: url("/assets/images/chooseUs.png");
        max-width: 320px;
      }
    }
  }

  .title {
    justify-content: center;
    font-size: 38px;
    font-weight: 400;
    line-height: 42px;
    padding-left: 0;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
