<div class="welcome">
  <div appFadeOnScrollDirective class="welcome__title ">
    <p>Welcome to TopEnergy</p>
  </div>
  <div class="wrapper">
    <div appFadeOnScrollDirective class="welcome__subtitle ">
      <p>Leading the way in sustainable energy solutions with our innovative straw-operated boilers.</p>
    </div>
    <div appFadeOnScrollDirective class="welcome__topic">

      <div  class="welcome__topic__element ">
        <div class="welcome__topic__element__image">
          <img ngSrc="assets/images/electric.png" alt="" height="200" width="300">
        </div>
        <div class="welcome__topic__element__title">Energy Efficiency</div>
        <div class="welcome__topic__element__text">Our boilers provide maximum energy efficiency while reducing carbon
          footprint.
        </div>
      </div>

      <div class="welcome__topic__element ">
        <div class="welcome__topic__element__image">
          <img ngSrc="assets/images/straw.png" alt="" height="200" width="300">
        </div>
        <div class="welcome__topic__element__title">Sustainability</div>
        <div class="welcome__topic__element__text">Utilizing sustainable resources like straw, our boilers contribute to
          a greener planet.
        </div>
      </div>

      <div class="welcome__topic__element ">
        <div class="welcome__topic__element__image">
          <img ngSrc="assets/images/industrial.png" alt="" height="200" width="300">
        </div>
        <div class="welcome__topic__element__title">Industrial Performance</div>
        <div class="welcome__topic__element__text">Our state-of-the-art boilers ensure optimal performance and safety in
          industrial settings.
        </div>
      </div>

    </div>
  </div>
</div>
