<div class="team">
  <div appFadeOnScrollDirective class="team__title">
    <p id="teamId">Our Team</p>
  </div>
  <div class="wrapper">
    <div class="team__subtitle">Meet the experts driving innovation at TopEnergy</div>

    <div class="team__list">

      <div appFadeOnScrollDirective class="team__list__member">
        <img class="team__list__member__photo" ngSrc="assets/images/persons/1person.png" alt="" height="160"
             width="160">
        <div class="team__list__member__name">Oleksandr Mykhaylenko</div>
        <div class="team__list__member__profession">Business Development Director</div>
      </div>

      <div appFadeOnScrollDirective class="team__list__member">
        <img class="team__list__member__photo" ngSrc="assets/images/persons/2person.png" alt="" height="160"
             width="160">
        <div class="team__list__member__name">Dmytro Gavrylyuk</div>
        <div class="team__list__member__profession">Head of the marketing department</div>
      </div>

      <div appFadeOnScrollDirective class="team__list__member">
        <img class="team__list__member__photo" ngSrc="assets/images/persons/3person.png" alt="" height="160"
             width="160">
        <div class="team__list__member__name">Ivan Kovalchuk</div>
        <div class="team__list__member__profession">Customer service manager</div>
      </div>

      <div appFadeOnScrollDirective class="team__list__member">
        <img class="team__list__member__photo" ngSrc="assets/images/persons/4person.png" alt="" height="160"
             width="160">
        <div class="team__list__member__name">Yuriy Sydorenko</div>
        <div class="team__list__member__profession">Financial analyst</div>
      </div>

      <div appFadeOnScrollDirective class="team__list__member">
        <img class="team__list__member__photo" ngSrc="assets/images/persons/5person.png" alt="" height="160"
             width="160">
        <div class="team__list__member__name">Andriy Paliy</div>
        <div class="team__list__member__profession">Project manager</div>
      </div>

      <div appFadeOnScrollDirective class="team__list__member">
        <img class="team__list__member__photo" ngSrc="assets/images/persons/6person.png" alt="" height="160"
             width="160">
        <div class="team__list__member__name">Victor Bondarenko</div>
        <div class="team__list__member__profession">Marketer</div>
      </div>

      <div appFadeOnScrollDirective class="team__list__member">
        <img class="team__list__member__photo" ngSrc="assets/images/persons/7person.png" alt="" height="160"
             width="160">
        <div class="team__list__member__name">Maksym Oliynyk</div>
        <div class="team__list__member__profession">Legal consultant</div>
      </div>

      <div appFadeOnScrollDirective class="team__list__member">
        <img class="team__list__member__photo" ngSrc="assets/images/persons/8person.png" alt="" height="160"
             width="160">
        <div class="team__list__member__name">Katerina Yaroshenko</div>
        <div class="team__list__member__profession">Chief accountant</div>
      </div>

    </div>
  </div>
</div>
