<div class="team">
  <div appFadeOnScrollDirective class="team__title">
    <p id="teamId">Our Team</p>
  </div>
  <div appFadeOnScrollDirective class="wrapper">
    <div class="team__subtitle">Meet the experts driving innovation at TopEnergyBoilers</div>

    <div class="team__list">

      <div class="team__list__member">
        <div class="team__list__member__photo">
          <img ngSrc="assets/images/teamMember1.png" alt="" height="160" width="160">
        </div>
        <div class="team__list__member__name">Eva Larson</div>
        <div class="team__list__member__profession">Founder</div>
      </div>

      <div class="team__list__member">
        <div class="team__list__member__photo">
          <img ngSrc="assets/images/teamMember1.png" alt="" height="160" width="160">
        </div>
        <div class="team__list__member__name">Eva Larson</div>
        <div class="team__list__member__profession">Founder</div>
      </div>

      <div class="team__list__member">
        <div class="team__list__member__photo">
          <img ngSrc="assets/images/teamMember1.png" alt="" height="160" width="160">
        </div>
        <div class="team__list__member__name">Eva Larson</div>
        <div class="team__list__member__profession">Founder</div>
      </div>

      <div class="team__list__member">
        <div class="team__list__member__photo">
          <img ngSrc="assets/images/teamMember1.png" alt="" height="160" width="160">
        </div>
        <div class="team__list__member__name">Eva Larson</div>
        <div class="team__list__member__profession">Founder</div>
      </div>

      <div class="team__list__member">
        <div class="team__list__member__photo">
          <img ngSrc="assets/images/teamMember1.png" alt="" height="160" width="160">
        </div>
        <div class="team__list__member__name">Eva Larson</div>
        <div class="team__list__member__profession">Founder</div>
      </div>

      <div class="team__list__member">
        <div class="team__list__member__photo">
          <img ngSrc="assets/images/teamMember1.png" alt="" height="160" width="160">
        </div>
        <div class="team__list__member__name">Eva Larson</div>
        <div class="team__list__member__profession">Founder</div>
      </div>

      <div class="team__list__member">
        <div class="team__list__member__photo">
          <img ngSrc="assets/images/teamMember1.png" alt="" height="160" width="160">
        </div>
        <div class="team__list__member__name">Eva Larson</div>
        <div class="team__list__member__profession">Founder</div>
      </div>

      <div class="team__list__member">
        <div class="team__list__member__photo">
          <img ngSrc="assets/images/teamMember1.png" alt="" height="160" width="160">
        </div>
        <div class="team__list__member__name">Eva Larson</div>
        <div class="team__list__member__profession">Founder</div>
      </div>

    </div>
  </div>
</div>
