<div appFadeOnScrollDirective class="technique">
  <div class="wrapper">

    <div class="technique__topic">
      <div class="technique__topic__photo">
        <img ngSrc="assets/images/technique1.png" alt="" height="199" width="302">
      </div>
      <div class="technique__topic__title">Maintenance</div>
      <div class="technique__topic__text">Our boilers are designed for easy maintenance, ensuring long-term reliability
        and efficiency.
      </div>
    </div>

    <div class="technique__topic">
      <div class="technique__topic__photo">
        <img ngSrc="assets/images/technique2.png" alt="" height="199" width="302">
      </div>
      <div class="technique__topic__title">Advanced Control</div>
      <div class="technique__topic__text">Our advanced control systems offer precise management of boiler operations,
        enhancing performance and safety.
      </div>
    </div>

    <div class="technique__topic">
      <div class="technique__topic__photo">
        <img ngSrc="assets/images/technique3.png" alt="" height="199" width="302">
      </div>
      <div class="technique__topic__title">Easy Installation</div>
      <div class="technique__topic__text">Our boilers are designed for straightforward installation, making it easy to
        integrate into any business.
      </div>
    </div>

  </div>
</div>
