<div  class="advantages">
  <div appFadeOnScrollDirective class="advantages__title">
    <p id="advantagesId">Advantages</p>
  </div>
  <div class="wrapper">

    <div appFadeOnScrollDirective class="advantages__topic">
      <div class="advantages__topic__title">Cost effectiveness</div>
      <div class="advantages__topic__text">Boilers that run on straw offer significant cost savings over traditional
        fuel sources. Straw is an abundant and inexpensive resource, making it an economical choice for heating.
      </div>
      <div class="advantages__topic__image">
        <img ngSrc="assets/images/straw2.png" alt="" height="297" width="395">
      </div>
    </div>

    <div appFadeOnScrollDirective class="advantages__topic">
      <div class="advantages__topic__title">Environmental Friendliness</div>
      <div class="advantages__topic__text">Using straw as a fuel source significantly reduces carbon emissions compared
        to fossil fuels. It is a renewable resource that helps in decreasing the carbon footprint.
      </div>
      <div class="advantages__topic__image">
        <img ngSrc="assets/images/eco.png" alt="" height="297" width="395">
      </div>
    </div>

    <div appFadeOnScrollDirective class="advantages__topic">
      <div class="advantages__topic__title">Efficiency</div>
      <div class="advantages__topic__text">Boilers running on straw are highly efficient, providing consistent and
        reliable heat. They are designed to maximize energy output while minimizing waste.
      </div>
      <div class="advantages__topic__image">
        <img ngSrc="assets/images/fire.png" alt="" height="297" width="395">
      </div>
    </div>

  </div>
</div>
