<div class="footer">
  <div class="wrapper">
    <div class="footer__logo">
      <div class="footer__logo__photo">
        <img src="assets/images/logoTranspires.png" alt="">
      </div>
      <div class="footer__logo__text">
        2024 © TopEnergy<br>
        All rights reserved.</div>
    </div>
    <div class="footer__info">
      <div class="footer__info__social">
        <a href="#" class="footer__info__social__link">
          <img ngSrc="assets/icons/facebook.png" alt="" height="12" width="15">
          Facebook
        </a>
        <a href="#" class="footer__info__social__link">
          <img ngSrc="assets/icons/instagram.png" alt="" height="12" width="14">
          Instagram
        </a>
        <a href="#" class="footer__info__social__link">
          <img ngSrc="assets/icons/telegram.png" alt="" height="12" width="11">
          Telegram
        </a>
        <a href="#" class="footer__info__social__link">
          <img ngSrc="assets/icons/linkedin.png" alt="" height="12" width="12">
          Linkedin
        </a>
        <a href="#" class="footer__info__social__link">
          <img ngSrc="assets/icons/youtube.png" alt="" height="12" width="19">
          YouTube
        </a>
      </div>
      <div class="footer__info__communication">
        <p class="footer__info__communication__number">
          +38 023 723 23 12<br>
          +38 023 723 23 12
        </p>
        <p class="footer__info__communication__email">info&#64;topenergy.com</p>
        <p class="footer__info__communication__street">
          3, Bulgarian Street, Uzhorod, <br>
          Zakarpattia Oblast, Ukraine, 88000
        </p>
      </div>
    </div>
  </div>
</div>
