.footer {
  padding: 50px 0;
  position: relative;
  bottom: 0;
  max-width: 100%;
  height: auto;
  background-color: #2c2c2c;
  color: white;
  &__logo {
    &__photo {
      margin-bottom: 23px;
    }

    &__text {
      padding-left: 7px;
    }
  }

  &__info {

    &__social {
      display: flex;
      margin-bottom: 22px;
      &__link{
        color: white;
        margin-right: 33px;
      }
    }


    &__communication {
      display: flex;

      &__number{
        margin-right: 30px;

      }

      &__email{
        margin-right: 30px;

      }

      &__street{

      }
    }

  }
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  align-items: center;
  max-width: 1440px;
  height: auto;
  margin: 0 auto;
}

@media screen and (max-width: 1090px) {
  .footer {
    padding-top: 15px;
    padding-left: 15px;
    &__logo {
      &__photo {
      }

      &__text {
        padding-left: 0;

      }
    }

    &__info {

      &__social {
        display: grid;
      }

      &__social__link {
        margin-top: 20px;
        margin-right: 10px;
      }

      &__communication {
        padding-bottom: 15px;
        display: grid;
        gap: 25px;
      }

      &__communication__number {
      }

      &__communication__email {
      }

      &__communication__street {
      }
    }
  }

  .wrapper {
    grid-template-columns: 1fr;
  }
}
