<div appFadeOnScrollDirective class="effective">
  <div class="wrapper">

    <div class="effective__topic">
      <div class="effective__topic__title">Boiler Efficiency Report</div>
      <div class="effective__topic__text">98% Efficiency</div>
    </div>

    <div class="effective__topic">
      <div class="effective__topic__title">Completing projects on time</div>
      <div class="effective__topic__text">95%</div>
    </div>

    <div class="effective__topic">
      <div class="effective__topic__title">Total Energy Savings</div>
      <div class="effective__topic__text">Over 3 Million </div>
    </div>

    <div class="effective__topic">
      <div class="effective__topic__title">% Energy Saved</div>
      <div class="effective__topic__text"><60%</div>
    </div>

  </div>
</div>
